<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ERDSQLDatabaseProjectEntitiesConnectionString" connectionString="metadata=res://ERD Example/Devart-BBRM-to- SF-Example.csdl|res://ERD Example/Devart-BBRM-to- SF-Example.ssdl|res://ERD Example/Devart-BBRM-to- SF-Example.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=&quot;&quot;ERD SQL Database Project&quot;&quot;;Integrated Security=True;Persist Security Info=True&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>